.animated-cursor {
  --circle-size: 40px;
  position: fixed;
  width: var(--circle-size);
  height: var(--circle-size);
  border: 2px solid #CDDADE;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 1000;
}

@media only screen and (max-width: 600px){
  .animated-cursor {
    display: none;
  }
}